/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}


@media screen and (max-height: 903px) {
  .section_arrow{
    bottom: 5%;
  }
}
@media screen and (min-height: 904px) {
  .section_arrow{
    bottom: 18%;
  }
}